.projects {

    &__heading .h3, 
    &__heading span {
        @include media-breakpoint-down(md) {
            font-size: 1.2rem;
        }
    }

    &__text-wrap {
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            padding-left: .6rem;
        }
    }

    .card {
        border: 0;
        transition: all 300ms ease-in-out;
        &:hover {
            box-shadow: 5px 5px 20px 4px rgba(0,0,0,0.10);
            transform: scale(1.1) rotate(2deg);
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .card-body {
        background-color: $orange;
        transition: all 300ms ease-in-out;
    }

    .card:hover > .card-body {
        background-color: darken($orange, 10%);
    }
    
    .card:hover > .card-img-top {

    }
}