.btn {
    &--orange {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F18000;
        position: absolute;
        color: #fff;
        padding: 1.5rem 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &--hero {
        position: absolute;
        font-style: italic;
        display: inline-block;
        color: #D6D6D6;
        position: absolute;
        font-style: italic;
        background-color: #252526;
        z-index: 400;
        padding: 1rem 2rem;
        opacity: 1;
        animation: moveInBottom 1s ease-in-out; 

        @mixin maxSmall {
            display: none;
        }

        @mixin atSmall {
            left: 3vw; 
            font-size: 2.8vw;  
            top: 40vh;
        }

        @mixin atMedium {
            left: 12vw; 
            font-size: 2vw;
        }

        @mixin atLarge {
            font-size: 1.8vw;
            left: 8vw;

        }
    }

    &--hero-light {
        position: absolute;
        font-style: italic;
        color: #252526;
        background: #D6D6D6;
        padding: 1rem 2rem;
        opacity: 1;
        animation: moveInBottom 1s ease-in-out;
        z-index: 400;

        @mixin maxSmall {
            display: none;
        }

        @mixin atSmall {
            right: 5vw; 
            font-size: 2.8vw;  
        }
 
        @mixin atMedium {
            right: 8vw;
            font-size: 2vw;
        }

        @mixin atLarge {
            font-size: 1.8vw;
            right: 10vw;
            top: 60vh;
        }
    }
}