.btn {
    &--orange {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F18000;
        position: absolute;
        color: #fff;
        padding: 1.5rem 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &--hero {
        display: none;
        @mixin atLarge {
            position: absolute;
            font-style: italic;
            display: inline-block;
            color: #fff;
            font-size: 4rem;
            padding: 1rem 3rem;
            left: 15%;
            z-index: 400;
            top: 40vh;
            opacity: .8;
            z-index: 0;
            animation: moveInBottom 1s ease-in-out;
            display: none;
        }
    }

    &--hero-light {
        display: none;
        @mixin atLarge {
            position: absolute;
            font-style: italic;
            display: inline-block;
            color: #fff;
            font-size: 4rem;
            padding: 1rem 2rem;
            right: 18%;
            top: 60vh;
            z-index: 0;
            opacity: .8;
            animation: moveInBottom 1s ease-in-out;
            display: none;
        }
    }
}