.btn {
    &--orange {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F18000;
        position: absolute;
        color: #fff;
        padding: 1.5rem 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &--hero {
        position: absolute;
        display: inline-block;
        background-color: #252526;
        color: #DBDBDB;
        font-size: 3rem;
        padding: 1rem 2rem;
        left: 10%;
        z-index: 400;
        top: 50vh;
    }

    &--hero-light {
        display: none;
        @mixin atMedium {
            position: absolute;
            display: inline-block;
            color: #252526;
            background-color: #DBDBDB;
            font-size: 3rem;
            padding: 1rem 2rem;
            right: 10%;

        }
    }
}