footer {
    background-color: $backgroundBlack;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 999;

    p {
        text-align: center;
        color: $siteLinks;
        font-size: 1.3rem;
    }
}