.flex {
    &__container {
        display: flex;

        @mixin maxSmall {
            padding: 2rem;
        }

        @mixin atMedium {
            align-items: center;
            margin-left: auto;
            max-width: 100%;
        }

        @mixin atLarge {
            max-width: 85%;
        }

        &--end {
            justify-content: flex-end;  

            @mixin maxMed {
                flex-direction: column-reverse;
            }
        }

        &--start {
            justify-content: flex-start;

            @mixin maxMed {
                flex-direction: column;
            }
        }

        &.mr {
            margin-right: auto;
            margin-left: 0;
        }
    }

    &__text {
        flex: 1 1 auto;
        max-width: 55rem;
        margin: auto;

        @mixin maxSmall {
            margin-top: 2rem;
        }

        @mixin atSmall {
            padding-left: 1rem;
        }
    }

    &__image {
        flex: 0 0 50%;

        &--ml {
            margin-left: -2rem;
        }

        @mixin maxSmall {
            margin-right: -2rem;
        }

        &.mr {
            @mixin atSmall {
                margin-right: 6rem;
            }
        }

        &.ml {
            @mixin atSmall {
                margin-left: 6rem;
            }
        }
    }
}