.project {

    &--bottom {
        padding: 2rem 0;
        max-width: 100%;
        margin: auto;
    }

    &__image-wrap {
        flex: 0 2 auto;
        padding-top: 4rem;
        margin-left: auto;
    
        &--smaller {
            flex: 1 0 100%;
    
            @mixin atSmall {
                flex: 0 1 50%;
                margin: auto;
            }
        }

        &--center {
            text-align: center;
        }
    
        @mixin atLarge {
            padding-top: 0;
        }    
    }
    
    &__more-studies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    
        @mixin atSmall {
            flex-flow: row;
            margin-bottom: 10rem;
        }
    
        .image-wrapper {
            position: relative;
            margin: 1rem;
        }
    }
    
    &__case-studies-header {
        padding-bottom: 2rem;
        text-align: center !important;
    }
}

