.research-cover {
    background-image: url('/assets/images/research/research.jpg');
    background-repeat: no-repeat;
    position: relative;
    min-height: 40rem;

    @mixin atMedium {
        background-size: cover;
    }

    @mixin atLarge {
        min-height: 42rem;
    }
}

.research-head {
    line-height: .15;
}

.points {
    margin-top: .5rem;
    margin-left: 1rem;
}

.research {
    max-width: 100%;

    p {
        max-width: 55rem;
        margin: auto;
        margin-top: 1rem;
    }

    @mixin maxSmall {
        padding: 0 2rem;
    }

    &__wrapper {
        @mixin maxMed {
            padding: 2rem 0;
        }

        @mixin atMedium {
            display: flex;
            justify-content: center;
        }

        @mixin atLarge {
            display: flex;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 0 1 auto;

        @mixin atSmall {
            padding-right: 8rem;
        }

        &--docs {
            flex: 0 1 26%;

            @mixin maxSmall {
                margin-top: 2rem;
            }
        }

        &--30rem {
            flex: 0 1 30rem;

            img {
                @mixin maxSmall {
                    margin-top: 2rem;
                }
            }
        }

        &--50percent {
            flex: 0 1 50rem;
            padding-right: 0;
        }
    }

    &__app-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }
    }

    .reverse {
        flex-direction: column;
        align-items: center;

        @mixin atLarge {
            flex-direction: row-reverse;
        }
    }

    &__image {
        @mixin maxSmall {
            margin-top: 2rem;
        }

        @mixin atSmall {
            flex: 0 1 50%;
        }

        &--papers {
            flex: 0 0 50%;
        }
    }

    &__text {
        padding: 0 2rem 0 1rem;

        @mixin maxSmall {
            max-width: 37rem;
            margin: auto;
        }

        @mixin atSmall {
            flex: 0 0 50%;
        }

        &--papers {
            flex: 0 0 100%;

            @mixin atSmall {
                max-width: 50rem;
                flex: 0 0 45%;
            }

        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }
}

.center {
    text-align: center !important;
}

.takeaways {
    background-color: $mainBlack;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h1 {
        text-align: center;
        color: #f6f6f6;
    }



    ul {
        margin-top: 2rem;
        max-width: 60rem;
        color: #f6f6f6;

        @mixin maxSmall {
            padding: 2rem;
        }
    }

    li {
        padding: 1rem 0;
    }
}