.case-study-bg {
    background: $projectBg;

    /* line that separates the sections */
    .line {
        height: 1px;
        width: 100%;
        background-color: $lineColor;
        margin: 4rem 0;

        @mixin atSmall {
            margin: 6rem 0;
        }
    }

    /* LEFT ALIGN HEADERS TO NON CENTERED IN JUSTIFIED FLEXBOX */    
    h2 {
        text-align: left; 
        line-height: 1;
    }

    h1 {
        font-size: 6rem;
        text-align: left;
        color: #BCBCBC;
        line-height: 1;
        margin: 0;
    }
}

/* MAX WIDTH FOR TEXT BOXES TO MATCH STYLE GUIDE */   

.text {
    &--limit {
    max-width: 45.5rem;
    }

    &--more-limit {
        max-width: 53.5rem;
    }

    &--less-limit {
        max-width: 44.9rem;
    }
}

/* MAIN CONTAINER, SETS THE BEGINNING OF THE CONTAINER */   
.project {
    margin-left: auto;
    padding-left: 2rem;

    @mixin atLarge {
        max-width: 85%;
    }

    &--centered {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: auto;
        max-width: 60rem;

        h1 {
            text-align: left;
        }
    }

 /* MAIN CONTAINER, SETS THE flexflow */   
    &__wrapper {
        display: block;

        @mixin atSmall {
            display: flex;
            flex-flow: nowrap;
        }
        
        &--project2 {
            flex: 0 0 45%;
        }

        &--project3 {
            flex-flow: column;
        }
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        flex: 0 1 auto;
        position: relative;

        &--project3 {
            flex-flow: row nowrap;
        }

        ul {
            color: $mainGrey;
        }

        &__images {
            flex: 0 1 auto;
            &:not(:last-child) {
                padding-bottom: 5rem;
            }
        }

        &__tasks-header {
            padding-bottom: 2rem;
        }
    }
    
     /* Hero section pt.2 */
    &__problem {
        padding: 0;

        @mixin atMedium {
            padding: 2rem 0;
        }

        @mixin atLarge {
            padding: 7rem 2rem 0 0;
        }

        p {
            max-width: 56.5rem;
        }
    }

   /* Hero section pt.3 */
    &__tools {
        h1 {
            margin-bottom: 2rem;
        }
        
        img {
            margin-right: 1rem;
        }
    }  
}
