.case-study-bg {
    background: $projectBg;

    .line {
        height: 1px;
        width: 100%;
        background-color: $lineColor;
        margin: 4rem 0;

        @mixin atSmall {
            margin: 8rem 0;
        }
    }
    
    h2 {
        text-align: left; 
        line-height: 1;
    }

    h1 {
        font-size: 5rem;
        text-align: left;
        color: #BCBCBC;
        line-height: 1;
        margin: 0;
    }
}

.project {
    margin-left: auto;
    padding-left: 2rem;

    &--bottom {
        padding: 2rem 0;
        max-width: 100%;
        margin: auto;
    }


    @mixin atLarge {
        max-width: 85%;
    }

    &__wrapper {
        display: block;


        @mixin atSmall {
            display: flex;
        }
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        flex: 0 1 auto;
        position: relative;

        @mixin atMedium {

        }

        @mixin atLarge {

        }
        
        
        ul {
            color: $mainGrey;
        }

        &--project2 {
            flex: 0 0 45%;
        }

        &--project3 {
            flex: 0 0 45%;
        }

    &__images {
        &:not(:last-child) {
            padding-bottom: 5rem;
        }
    }

    &__tasks-header {
        padding-bottom: 2rem;
    }

        .text-limit {
            max-width: 56.5rem;
        }

        span {
           color: #F18000; 
        }
    }

    &__problem {
        padding: 0;

        @mixin atMedium {
            padding: 2rem 0;
        }

        @mixin atLarge {
            padding: 7rem 0;
        }

        p {
            max-width: 56.5rem;
        }
    }

    &__tools {
        h1 {
            margin-bottom: 2rem;
        }
        
        img {
            margin-right: 1rem;
        }
    }

    &__image-wrap {
        flex: 0 2 auto;
        padding-top: 4rem;
        margin-left: auto;

        &--smaller {
            flex: 1 0 100% ;

            @mixin atSmall {
                flex: 0 1 50%;
                margin: auto;
            }
        }

        @mixin atLarge {
            padding-top: 0;
        }    
    }

    &__more-studies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        @mixin atSmall {
            flex-flow: row;
            margin-bottom: 10rem;
        }

        .image-wrapper {
            position: relative;
            margin: 1rem;
        }
    }
 
    &__case-studies-header {
        padding-bottom: 2rem;
        text-align: center !important;
    }
}
